# **IMPORTING OUR LIBRARIES**

In [ ]:
# import pandas

import pandas as pd

# import numpy

import numpy as np

***LOADING AND PREVIEWING OUR DATASET***

In [ ]:
df = pd.read_csv('autolib_dataset.csv') 
df.head()

,Address,Cars,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,Displayed comment,ID,...,Scheduled at,Slots,Station type,Status,Subscription status,year,month,day,hour,minute
0,2 Avenue de Suffren,0,0,0,0,0,nonexistent,Paris,NaN,paris-suffren-2,...,NaN,2,station,ok,nonexistent,2018,4,8,11,43
1,145 Rue Raymond Losserand,6,6,0,0,0,operational,Paris,NaN,paris-raymondlosserand-145,...,NaN,0,station,ok,nonexistent,2018,4,6,7,24
2,2 Avenue John Fitzgerald Kennedy,3,3,0,2,0,operational,Le Bourget,NaN,lebourget-johnfitzgeraldkennedy-2,...,NaN,1,station,ok,nonexistent,2018,4,3,20,14
3,51 Rue EugÃ¨ne OudinÃ©,3,3,1,0,1,operational,Paris,NaN,paris-eugeneoudine-51,...,NaN,2,station,ok,nonexistent,2018,4,4,4,37
4,6 avenue de la Porte de Champerret,3,3,0,0,0,nonexistent,Paris,NaN,paris-portedechamperret-6,...,NaN,3,station,ok,nonexistent,2018,4,8,17,23

***INFORMATION ABOUT DATASET***

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

# ***CLEANING THE DATASET***

***Validity***

In [ ]:
# Procedure 1: Irrelevant Observation
# Data Cleaning Action: Dropping columns 
# Explanation:We do not need them for analysis
df.drop([ 'Displayed comment', 'ID', 'Geo point','Address', 'Cars'], axis = 1, inplace = True)
df

,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,Kind,Postal code,Public name,Rental status,Scheduled at,Slots,Station type,Status,Subscription status,year,month,day,hour,minute
0,0,0,0,0,nonexistent,Paris,STATION,75015,Paris/Suffren/2,operational,NaN,2,station,ok,nonexistent,2018,4,8,11,43
1,6,0,0,0,operational,Paris,STATION,75014,Paris/Raymond Losserand/145,operational,NaN,0,station,ok,nonexistent,2018,4,6,7,24
2,3,0,2,0,operational,Le Bourget,STATION,93350,Le Bourget/John Fitzgerald Kennedy/2,operational,NaN,1,station,ok,nonexistent,2018,4,3,20,14
3,3,1,0,1,operational,Paris,STATION,75013,Paris/EugÃ¨ne OudinÃ©/51,operational,NaN,2,station,ok,nonexistent,2018,4,4,4,37
4,3,0,0,0,nonexistent,Paris,PARKING,75017,Paris/Porte de Champerret/6,operational,NaN,3,station,ok,nonexistent,2018,4,8,17,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2,0,0,0,nonexistent,Colombes,STATION,92700,Colombes/MÃ©nelotte/8,operational,NaN,3,station,ok,nonexistent,2018,4,6,11,26
4996,4,0,0,1,operational,Paris,STATION,75015,Paris/Dantzig/37,operational,NaN,2,station,ok,nonexistent,2018,4,4,16,56
4997,1,0,0,1,operational,Paris,STATION,75007,Paris/Bac/142,operational,NaN,4,station,ok,nonexistent,2018,4,1,7,1
4998,2,0,0,0,nonexistent,Fontenay-Sous-Bois,STATION,94120,Fontenay-Sous-Bois/Val de Fontenay/2,operational,NaN,3,station,ok,nonexistent,2018,4,4,17,27
4999,4,0,0,0,operational,Paris,STATION,75018,Paris/Henry Brisson/5,operational,NaN,0,station,ok,nonexistent,2018,4,8,10,2

***Completeness***

In [ ]:
# Procedure 1: Missing values
# Data Cleaning Action:None
# Explanation:Checking how many missing values there are across each column
df.isnull().any()

Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
Charge Slots           False
Charging Status        False
City                   False
Kind                   False
Postal code            False
Public name            False
Rental status          False
Scheduled at            True
Slots                  False
Station type           False
Status                 False
Subscription status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
dtype: bool

In [ ]:
# Finding the total count of the missing values
df.isnull().sum().sum()

4953

***Accuracy***

In [ ]:
# Procedure 1: None
# Data Cleaning Action:None
# Explanation:None

***Consistency***

In [ ]:
#checking for duplicates
df.duplicated().sum()

0

***Uniformity***

In [ ]:
# Procedure 1: None
# Data Cleaning:None
# Explanation:None

In [ ]:
# Creating a new column where we find the difference in the number of bluecars at the station/counter

df['Bluecar_Diff'] = df['Bluecar counter'].diff()
df.head()

,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,Kind,Postal code,Public name,Rental status,...,Slots,Station type,Status,Subscription status,year,month,day,hour,minute,Bluecar_Diff
0,0,0,0,0,nonexistent,Paris,STATION,75015,Paris/Suffren/2,operational,...,2,station,ok,nonexistent,2018,4,8,11,43,NaN
1,6,0,0,0,operational,Paris,STATION,75014,Paris/Raymond Losserand/145,operational,...,0,station,ok,nonexistent,2018,4,6,7,24,6.0
2,3,0,2,0,operational,Le Bourget,STATION,93350,Le Bourget/John Fitzgerald Kennedy/2,operational,...,1,station,ok,nonexistent,2018,4,3,20,14,-3.0
3,3,1,0,1,operational,Paris,STATION,75013,Paris/EugÃ¨ne OudinÃ©/51,operational,...,2,station,ok,nonexistent,2018,4,4,4,37,0.0
4,3,0,0,0,nonexistent,Paris,PARKING,75017,Paris/Porte de Champerret/6,operational,...,3,station,ok,nonexistent,2018,4,8,17,23,0.0

# ***Research Questions***
*** Bluecar counter***

In [ ]:
#question 1

#Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

df_paris[df_paris['Bluecar_Diff'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
21    80
16    68
7     64
5     62
13    62
23    61
20    61
3     60
8     59
4     58
9     57
18    57
22    55
19    55
17    55
12    54
14    54
10    52
0     52
2     51
6     50
15    49
11    47
1     43
Name: hour, dtype: int64

In [ ]:
#1.What is the most popular hour for returning cars?
#+ve value = car  returned

# -ve value = care was taken

# select city == Paris
df_paris = df[df['City'] =='Paris'] 

df_paris.head()
df_paris[df_paris['Bluecar_Diff'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
3     49
12    48
10    48
6     46
8     44
21    43
11    42
19    42
15    42
18    40
9     40
0     39
1     38
2     38
22    38
16    37
5     37
23    35
13    33
7     33
17    33
4     31
20    27
14    25
Name: hour, dtype: int64

In [ ]:
# Q3



# What station is the most popular? At the most popular picking hour?
  
df_paris[(df_paris['Kind'] == 'STATION') & (df_paris['Status'] == 'ok') & (df_paris['hour'] == 4)].groupby('Public name')['Public name'].count().sort_values(ascending= False)

Public name
Paris/Claude Bernard/16                    3
Paris/Sainte-Croix de la Bretonnerie/37    2
Paris/SÃ©gur/55                            2
Paris/Pompe/137                            2
Paris/IÃ©na/63                             2
                                          ..
Paris/FranÃ§ois de Neufchateau/11          1
Paris/Francois 1er/7                       1
Paris/Faubourg-Saint-Martin/242            1
Paris/Faubourg-Saint-Martin/168            1
Paris/Ãvangile/45                         1
Name: Public name, Length: 92, dtype: int64

In [ ]:
 #Q4

#  most popular postal code  for picking up Bluecars? Does the most popular station belong to that postal code?

 # Overall?

df_paris[(df_paris['Kind'] == 'STATION') & (df_paris['Status'] == 'ok')].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)

#observation from the dataframe 75015 == Paris/Houdart de Lamotte/2 # therefore NO it doesn't

Postal code
75015    220
75016    197
75017    180
75013    155
75011    155
75008    150
75020    149
75012    138
75019    134
75014    128
75018    120
75007     99
75010     98
75009     93
75005     85
75006     74
75004     58
75003     55
75002     54
75001     43
75112      6
75116      5
Name: Postal code, dtype: int64

In [ ]:
# Q5

# postal code  most popular for picking up Bluecars? Does the most popular station belong to that postal code?

# At the most popular picking hour?

df_paris[(df_paris['Kind'] == 'STATION') & (df_paris['Status'] == 'ok') & (df_paris['hour'] == 4)].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)

Postal code
75016    11
75015     9
75011     8
75017     8
75005     8
75013     7
75007     6
75012     5
75008     5
75009     5
75018     4
75020     4
75010     4
75004     4
75006     3
75014     2
75003     2
75002     1
75019     1
75001     1
Name: Postal code, dtype: int64

***Utilib counter***

In [ ]:
# Creating a new column where we find the difference in the number of Utilib at the station/counter

df['Utilib_Diff'] = df['Utilib counter'].diff()
df.head()

,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,Kind,Postal code,Public name,Rental status,...,Station type,Status,Subscription status,year,month,day,hour,minute,Bluecar_Diff,Utilib_Diff
0,0,0,0,0,nonexistent,Paris,STATION,75015,Paris/Suffren/2,operational,...,station,ok,nonexistent,2018,4,8,11,43,NaN,NaN
1,6,0,0,0,operational,Paris,STATION,75014,Paris/Raymond Losserand/145,operational,...,station,ok,nonexistent,2018,4,6,7,24,6.0,0.0
2,3,0,2,0,operational,Le Bourget,STATION,93350,Le Bourget/John Fitzgerald Kennedy/2,operational,...,station,ok,nonexistent,2018,4,3,20,14,-3.0,0.0
3,3,1,0,1,operational,Paris,STATION,75013,Paris/EugÃ¨ne OudinÃ©/51,operational,...,station,ok,nonexistent,2018,4,4,4,37,0.0,1.0
4,3,0,0,0,nonexistent,Paris,PARKING,75017,Paris/Porte de Champerret/6,operational,...,station,ok,nonexistent,2018,4,8,17,23,0.0,-1.0

In [ ]:
## Identify the most popular hour of the day for picking up a shared electric car (Utilib) in the city of Paris over the month of April 2018
df['Utilib_Diff'] = df['Utilib counter'].diff()
df.head()
df_paris[df_paris['Utilib_Diff'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
19    12
23    10
14    10
22    10
10     9
6      9
9      8
8      8
5      8
11     7
3      7
17     6
7      6
20     6
2      6
15     6
16     6
0      5
13     5
4      5
1      4
12     4
18     3
21     3
Name: hour, dtype: int64

In [ ]:
#

# # What is the most popular hour for returning cars?
#+ve value = car  returned

# -ve value = care was taken

# select city == Paris
df_paris = df[df['City'] =='Paris'] 

df_paris.head()
df_paris[df_paris['Utilib_Diff'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
6     12
17     9
8      9
11     9
14     8
21     7
18     7
7      7
10     7
15     6
0      5
13     5
12     5
5      5
3      5
2      5
9      4
16     4
1      3
4      3
19     3
20     3
22     3
23     1
Name: hour, dtype: int64

In [ ]:
# What station is the most popular? At the most popular picking hour?
  
df_paris[(df_paris['Kind'] == 'STATION') & (df_paris['Status'] == 'ok') & (df_paris['hour'] == 5)].groupby('Public name')['Public name'].count().sort_values(ascending= False)

Public name
Paris/ChÃ¢teau Landon/24             3
Paris/MÃ©nilmontant/122              2
Paris/Lourmel/79                     2
Paris/Jean Moulin/34                 2
Paris/Daumesnil/199                  2
                                    ..
Paris/Grenelle/152                   1
Paris/Georges Mandel/42              1
Paris/FranÃ§ois de Neufchateau/11    1
Paris/Finlay/43                      1
Paris/Ãmile Augier/20               1
Name: Public name, Length: 89, dtype: int64

In [ ]:
#  What postal code is the most popular for picking up Utilib Counter? Does the most popular station belong to that postal code?

# At the most popular picking hour?

df_paris[(df_paris['Kind'] == 'STATION') & (df_paris['Status'] == 'ok') & (df_paris['hour'] == 5)].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)

Postal code
75016    11
75015    10
75008    10
75012     9
75010     9
75014     8
75017     6
75020     6
75011     5
75007     5
75018     5
75004     4
75005     3
75002     3
75003     2
75013     2
75009     2
75019     2
Name: Postal code, dtype: int64

***Utilib 1.4 counter***

In [ ]:
# Creating a new column where we find the difference in the number of Utilib 1.4 counter at the station/counter

# Utilib 1.4 diff is named as utilib_two_Diff

df['Utilib_2_Diff'] = df['Utilib 1.4 counter'].diff()
df.head()

,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,Kind,Postal code,Public name,Rental status,...,Status,Subscription status,year,month,day,hour,minute,Bluecar_Diff,Utilib_Diff,Utilib_2_Diff
0,0,0,0,0,nonexistent,Paris,STATION,75015,Paris/Suffren/2,operational,...,ok,nonexistent,2018,4,8,11,43,NaN,NaN,NaN
1,6,0,0,0,operational,Paris,STATION,75014,Paris/Raymond Losserand/145,operational,...,ok,nonexistent,2018,4,6,7,24,6.0,0.0,0.0
2,3,0,2,0,operational,Le Bourget,STATION,93350,Le Bourget/John Fitzgerald Kennedy/2,operational,...,ok,nonexistent,2018,4,3,20,14,-3.0,0.0,2.0
3,3,1,0,1,operational,Paris,STATION,75013,Paris/EugÃ¨ne OudinÃ©/51,operational,...,ok,nonexistent,2018,4,4,4,37,0.0,1.0,-2.0
4,3,0,0,0,nonexistent,Paris,PARKING,75017,Paris/Porte de Champerret/6,operational,...,ok,nonexistent,2018,4,8,17,23,0.0,-1.0,0.0

In [ ]:
# Identify the most popular hour of the day for picking up a shared electric car (Utilib 1.4 Counter) in the city of Paris over the month of April 2018

df_paris[df_paris['Utilib_2_Diff'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
3     20
4     17
0     16
8     16
19    16
10    16
12    15
23    12
17    12
21    12
11    12
20    12
2     12
14    12
16    12
22    11
18    11
7     11
5     10
9     10
6      8
13     8
1      7
15     7
Name: hour, dtype: int64

In [ ]:
# What is the most popular hour for returning cars?
df_paris = df[df['City'] =='Paris'] 

df_paris.head()


df_paris[df_paris['Utilib_2_Diff'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
9     17
5     15
17    15
22    14
21    14
10    13
15    12
3     12
6     12
12    11
19    11
1     11
16    11
20    10
18    10
23     9
13     9
11     9
7      9
14     8
8      8
4      8
0      7
2      6
Name: hour, dtype: int64

In [ ]:
# What station is the most popular? At the most popular picking hour?
  
df_paris[(df_paris['Kind'] == 'STATION') & (df_paris['Status'] == 'ok') & (df_paris['hour'] == 4)].groupby('Public name')['Public name'].count().sort_values(ascending= False)

Public name
Paris/Claude Bernard/16                    3
Paris/Sainte-Croix de la Bretonnerie/37    2
Paris/SÃ©gur/55                            2
Paris/Pompe/137                            2
Paris/IÃ©na/63                             2
                                          ..
Paris/FranÃ§ois de Neufchateau/11          1
Paris/Francois 1er/7                       1
Paris/Faubourg-Saint-Martin/242            1
Paris/Faubourg-Saint-Martin/168            1
Paris/Ãvangile/45                         1
Name: Public name, Length: 92, dtype: int64

In [ ]:


#  What postal code is the most popular for picking up Utilib 1.4 Counter? Does the most popular station belong to that postal code?

# At the most popular picking hour?

df_paris[(df_paris['Kind'] == 'STATION') & (df_paris['Status'] == 'ok') & (df_paris['hour'] == 4)].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)

Postal code
75016    11
75015     9
75011     8
75017     8
75005     8
75013     7
75007     6
75012     5
75008     5
75009     5
75018     4
75020     4
75010     4
75004     4
75006     3
75014     2
75003     2
75002     1
75019     1
75001     1
Name: Postal code, dtype: int64